<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.interestplanet">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".activity.PlanetEditActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.MyPlanetsActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.MyArticlesActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.ArticleEditActivity"
                android:exported="true"/>
        <activity
                android:name=".activity.PlanetDetailActivity"
                android:exported="true">
        </activity>
        <activity
                android:name=".activity.ArticleDetailActivity"
                android:exported="true"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
                android:name=".activity.RegisterActivity"
                android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.interestplanet.activity.LoginActivity"/>
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity android:name=".activity.MainActivity">
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>